# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log
Logs/

# OS files
Thumbs.db
Desktop.ini
*.DS_Store

# Temporary files
*.tmp
*.temp

# Package managers
*.nupkg
*.lock.json

# Dependency folders
packages/
node_modules/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Exclude files related to Azure deployments if needed
*.pubxml
*.publish.xml

# Exclude unnecessary config and backup files
*.bak
*.swp
